
    body {
        background-color: #000000;
        color: rgb(255, 220, 0);
        font-family: "DM Serif Text", Georgia, 'Times New Roman', Times, serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        
    }
 footer {
                    font-weight: 100;
                    font-size: small;
                    text-align: center;
   }      
 a:link, a:visited {
                    color: rgb(255, 220, 0);
                    text-decoration: none;
  }
#centerpiece {
    font-size: 225px;
    font-weight: 700;
    text-align: left;
    line-height: .75em;  
}        
#subheading {
    text-align: left;
    font-size: 24px;
    font-weight: 100;
    
}
p1 {
    font-size: 64px;
    line-height: 1em;
}
